.create-activity-container {
  display: flex;
  height: 75vh;
  overflow: hidden;
}

.image-container {
  flex: 1;
  overflow: hidden;
}

.activity-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  flex: 1;
  overflow-y: auto;
  padding: 1px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-left: auto; /* This will push the FormContainer to the right */
  max-width: 37.3%; /* Optional: To limit the form width */
}

@media (max-width: 768px) {
  .create-activity-container {
    flex-direction: column;
  }

  .image-container {
    height: 50vh;
  }

  .form-container {
    height: 50vh;
  }
}