.trip-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.trip-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.trip-typography {
    margin-bottom: 16px;
    justify-content: space-between;
    padding: 20px;
}

.trip-action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.trip-participants {
    display: flex;
    align-items: center;
    gap: 2;
}

.trip-avatar {
    margin-left: 5px;
    margin-right: 5px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 2px;
}

.icon-text > .css-1gws2xf-MuiButtonBase-root-MuiIconButton-root {
    padding: 0px;
}