.form-page-main-container {
    display: flex;
    padding: 0;
    margin: 0;
}

.form-page-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 95%;
    width: 100%;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.form-page-right-container {
    display: flex;
    margin: 10%;
    width: 100%;
}

.trip-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.trip-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.trip-typography {
    margin-bottom: 16px;
    justify-content: space-between;
    padding: 20px;
}

.trip-action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.trip-participants {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
}

.trip-avatar {
    margin-left: 10px;
    margin-right: 10px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 4px;
}