.trip-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.trip-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.trip-typography {
    margin-bottom: 16px;
    justify-content: space-between;
    padding: 20px;
}

.trip-action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.trip-participants {
    display: flex;
    align-items: center;
    gap: 2;
}

.participant-avatar {
    border: 2px solid white;
    margin-left: -10px; 
}

.participant-avatar:first-child {
    margin-left: 5px !important;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 2px;
}

.icon-text > .MuiButtonBase-root {
    padding-right: 0px !important;
}