* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif !important;
}

html, body, #root {
  height: 100%;
  font-family: 'Nunito', sans-serif !important;
  background-color: #FEFEFE;
}


/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 14px;  /* Wider to accommodate roundness */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8cd43f;
  border-radius: 10px;
  border: 3px solid #f0f0f0;  /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7bc22f;
}
