* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif !important;
}

html, body, #root {
  height: 100%;
  font-family: 'Nunito', sans-serif !important;
  background-color: #FEFEFE;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
  &:hover {
    background-color: #a8a8a8;
  }
}

.scrollable::-webkit-scrollbar {
  background-color: #c1c1c1;
  width: 8px;
}

.pac-container {
  margin-top: 10px;
  border-radius: 20px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25) !important;
  box-sizing: border-box !important;
}

.pac-item {
  text-align: left !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
}